<div class="container">
  <div class="row">
    <a class="front">
      <%= image_tag("Stairs.png", :class => "col s12 m8", :alt => "hipHOP", :style => "height:110%; vertical-align:middle") %>
    </a>
  <div class="container col s12 m4">
    <h4 class="white-text">
      <strong>
        HIPhop to the stage
      </strong>
    </h4>
    <p class="grey-text">
      Take a step onto one of our dance floors! All of our dance floors are equipped with bars to create an ideal dance scene! The three main floors are listed below, with a description of what they have to offer.
    </p>
      <div class="">
        <a class="btn waves-effect" href="Directions">
          Get Directions
        </a>
      </div>
  </div>
  </div>
  <br />
  <br />
  <hr />
  <br />
</div>
<!-- TODO -->
<!-- MAKE HORIZONTAL CARDS -->


<div class="card">
  <div class="row card-back">
    <div class="col s4 m4">
      <%= image_tag("Lily's_Pad.png", :class => "card-pic", :alt => "lilysPAD") %>
    </div>
    <div class="col s4 m4">
      <h5 class="center"> Learn More </h5>
    </div>
    <div class="col s4 m4">
      <%= image_tag("lilys_two.jpg", :class => "card-pic", :alt => "lilysPAD") %>
    </div>
  </div>
</div>



<div class="card">
  <div class="container">
        <div class='row'>
          <div class="col s4 card card-back">
            <div class="center">
              <%= image_tag("Lily's_Pad.png", :class => "card-pic", :alt => "lilysPAD") %>
            </div>
            <div class="floor">
              <h5 class="center">
                  Lily's Pad
              </h5>
                <div class="center">
                  <a class="btn kool-button greenz wave-effect" href="http://www.toadsplace.com/wp/lillys-pad">
                    Learn More
                  </a>
                </div>
              <p class="center">
                Located upstairs of the venue, Lily's Pad holds a more classy appeal. Equipped with a DJ booth, couches, and plasma screen televisions, our customers can catch up on sports games while resting from the dance floor!
              </p>
            </div>
              <div class="center">
                <%= image_tag("lilys_two.jpg", :class => "card-pic", :alt => "lilysPAD") %>
              </div>
          </div>
          <div class="col s4 card card-back">
            <div class="center">
              <%= image_tag("main_stage.jpg", :class => "card-pic", :alt => "mainSTAGE") %>
            </div>
            <div class="floor">
              <h5 class="center">
                  Main Stage
              </h5>
                <div class="center">
                  <a class="btn kool-button greenz wave-effect" href="#!">
                    Learn More
                  </a>
                </div>
              <p class="center">
                The dance floor by the main-stage is our biggest dance floor that we offer! It is surrounded by hundreds of lights and a state of the art laser system!
              </p>
            </div>
              <div class="center">
                <%= image_tag("main_stage_two.jpg", :class => "card-pic", :alt => "mainSTAGE") %>
              </div>
          </div>
          <div class="col s4 card card-back">
            <div class="center">
              <%= image_tag("rainforest_room.jpg", :class => "card-pic", :alt => "rainFOREST") %>
            </div>
            <div class="floor">
              <h5 class="center">
                  Rain Forest Room
              </h5>
                <div class="center">
                  <a class="btn kool-button greenz wave-effect" href="http://www.toadsplace.com/wp/lillys-pad">
                    Learn More
                  </a>
                </div>
              <p class="center">
                Hop your way onto our rain-forest room's dance floor ! Once you find our Jungle room, you're going to want to dance around and explore what the new scene has to offer. Dance with your fellow classmates, friends, or the wild-life in the room.
              </p>
            </div>
              <div class="center">
                <%= image_tag("rain_forest_two.jpg", :class => "card-pic", :alt => "rainFOREST") %>
              </div>
          </div>
        </div>
      </div>
</div>
<div class="container">
  <hr />
</div>
